extends ../templates/default
block titleBlock
	title Comment supprimer les cookies de Chrome?
block descriptionBlock
	- var description = "Toutes les informations pour supprimer efficacement les cookies de votre navigateur chrome."
block videoBlock
	- var srcVideo = "//www.youtube.com/embed/C6Al8sD2q6E"
block contentBlock
	h1 Comment supprimer les cookies sur Google Chrome ?
	ol
		li Cliquez sur le menu <strong>Chrome</strong> dans la barre d'outils du navigateur.
		li Sélectionnez Paramètres.
		li Cliquez sur Afficher les paramètres avancés.
		li Dans la section "Confidentialité", cliquez sur le bouton Paramètres de contenu.
		li Dans la section "<strong>Cookies</strong>", vous pouvez modifier les paramètres suivants : <strong>Supprimer</strong> les cookies, Cliquez sur <strong>Cookies</strong> et données de site pour ouvrir la boîte de dialogue "Cookies et données de site".
	p Pour <strong>vider</strong> tous les <strong>cookies</strong>, cliquez sur Tout <strong>supprimer</strong> en bas de la boîte de dialogue.
	p Pour <strong>effacer</strong> un <strong>cookie</strong> spécifique, passez la souris sur le site ayant créé le <strong>cookie</strong>, puis cliquez sur X dans l'angle droit.
	p Vous pouvez également choisir de <strong>supprimer</strong> tous les <strong>cookies</strong> créés au cours d'une période donnée à l'aide de la boîte de dialogue "<strong>Effacer</strong> les données de navigation". Si vous souhaitez que les <strong>cookies</strong> soient automatiquement <strong>supprimés</strong> dans Google <strong>Chrome</strong> lorsque vous fermez toutes les fenêtres de votre navigateur, cochez la case "Conserver les données locales jusqu'à ce que je quitte ma session de navigation uniquement" dans la boîte de dialogue "Paramètres du contenu". Vous pouvez également définir des exceptions afin que les cookies de sites spécifiques soient supprimés à la fin de chaque session de navigation.
	p <a href="https://support.google.com/chrome/answer/95647?hl=fr">Source : support.google.com</a>