extends ../templates/default
block sectionBlock
	- var section = "Internet-Explorer"
block titleBlock
	title Comment supprimer les cookies d'Internet Explorer?
block descriptionBlock
	- var description = "Toutes les informations pour supprimer efficacement les cookies de votre navigateur Internet Explorer"
block videoBlock
	- var srcVideo = "//www.youtube.com/embed/oYYz42aE4Jk"
block contentBlock
	h1 Comment supprimer les cookies sur Internet explorer ?
	h2 Supprimer les cookies sur internet explorer
	ol
		li Dans l’écran d’accueil, appuyez ou cliquez sur <strong>Internet Explorer</strong> pour ouvrir Internet Explorer.
		li Effectuez un balayage à partir du bord droit de l’écran, puis appuyez sur Paramètres. (Si vous utilisez une souris, pointez dans le coin inférieur droit de l’écran, déplacez le pointeur vers le haut, puis cliquez sur Paramètres.)
		li Appuyez ou cliquez sur Options, puis sous Historique, appuyez ou cliquez sur Sélectionner.
		li Activez la case à cocher <strong>Cookies</strong>, puis appuyez ou cliquez sur <strong>Supprimer</strong>.
	h2 Bloquer les cookies et personnaliser les paramètres des cookies avec internet explorer
	p Si vous ne voulez pas que les sites stockent des <strong>cookies</strong> sur votre PC, vous pouvez bloquer les cookies. Vous pouvez personnaliser les sites pour lesquels vous voulez bloquer les cookies.
	h3 Pour bloquer les cookies
	ol
		li Ouvrez le Bureau, appuyez ou cliquez sur l’icône <strong>Internet Explorer</strong> dans la barre des tâches.
		li Appuyez ou cliquez sur le bouton Outils  , puis appuyez ou cliquez sur Options Internet.
		li Appuyez ou cliquez sur l’onglet Confidentialité, puis sous Paramètres, déplacez le curseur vers le haut pour bloquer tous les <strong>cookies</strong>, puis appuyez ou cliquez sur OK
	h3 Pour personnaliser les paramètres des cookies
	ol
		li Ouvrez le Bureau, appuyez ou cliquez sur l’icône <strong>Internet Explorer</strong> dans la barre des tâches.
		li Appuyez ou cliquez sur le bouton Outils  , puis appuyez ou cliquez sur Options Internet.
		li Sous l’onglet Confidentialité, effectuez une ou plusieurs des opérations suivantes :
		ol
			li Pour définir les types de <strong>cookies</strong> qui sont bloqués ou autorisés, déplacez le curseur.
			li Pour bloquer ou autoriser des sites Web spécifiques, appuyez ou cliquez sur Sites.
			li Pour importer un fichier Préférences de confidentialité, appuyez ou cliquez sur Importer.
			li Pour passer outre vos paramètres de confidentialité pour certains types de <strong>cookies</strong>, appuyez ou cliquez sur Avancé.
			li Pour rétablir les paramètres de confidentialité d’origine, appuyez ou cliquez sur Par défaut.
			li Lorsque vous avez terminé d’apporter des modifications, appuyez ou cliquez sur OK.
	p <a href="http://support.microsoft.com/kb/278835/fr">Source : microsoft.com</a>
