extends ../templates/default
block sectionBlock
	- var section = "Opera"
block titleBlock
	title Comment supprimer les cookies d'Opéra?
block descriptionBlock
	- var description = "Toutes les informations pour vider efficacement les cookies de votre navigateur Opéra"
block videoBlock
	- var srcVideo = "//www.youtube.com/embed/oYYz42aE4Jk"
block contentBlock
	h1 Comment supprimer les cookies sur Opéra ?
	h2 Préférences des cookies
	h3 Préférences > Avancé > Cookies
	p Les préférences de <strong>cookie</strong> vous permettent de contrôler la façon dont Opera gère les <strong>cookies</strong>. Le réglage par défaut est d'accepter tous les <strong>cookies</strong>.
	h4 Accepter les cookies
	p Tous les <strong>cookies</strong> sont acceptés (par défaut)
	h4 Accepter seulement ceux du site visité
	p Les <strong>cookies</strong> de tierces parties, d'un domaine extérieur à celui que je visite, sont refusés
	h4 Ne jamais accepter les cookies
	h4 Tous les cookies sont refusés
	h4 Supprimer les nouveaux cookies en quittant Opera
	p Certains sites Web vous obligent à accepter les <strong>cookies</strong> pour utiliser leurs services. Si vous voulez faire fonctionner ces sites, mais ne voulez pas conserver leur cookie, sélectionnez "<strong>Supprimer</strong> les nouveaux cookies en quittant Opera".
	h4 Me demander avant d'accepter des cookies
	p Si vous choisissez "Me demander avant d'accepter les cookies", le dialogue des <strong>cookies</strong> va s'ouvrir à chaque fois qu'un cookie est proposé, avec des informations sur l'origine du cookie et ses attributs.
	h3 Gérer les Cookies
	p Le gestionnaire de cookie vous permet d'inspecter et d'éditer les <strong>cookies</strong> enregistrés par <strong>Opera</strong>. Appuyez sur le bouton "Gérer les <strong>cookies</strong>" pour faire apparaître un ensemble de dossiers, chacun identifié par un nom de domaine. Utilisez le champ de recherche rapide pour rechercher par nom de domaine, et ouvrez le dossier correspondant pour obtenir des informations détaillées sur tous les <strong>cookies</strong> liés à ce domaine.
	h3 Le dialogue de cookie
	p Le dialogue de cookie s'ouvre à chaque fois qu'un site Web vous offre un <strong>cookie</strong>, si vous avez coché la case marquée " Me demander avant d'accepter des <strong>cookies</strong>" dans Préférences > Avancé > Cookies. Le dialogue décrit les origines du cookie et ses attributs, et vous donne l'opportunité de l'accepter ou de le rejeter.
	h3 Forcer la suppression en quittant Opéra
	p Pour changer l'expiration du cookie à la fin d'une session, sélectionnez "Forcer la <strong>suppression</strong> en quittant <strong>Opera</strong>".
	h3 Se souvenir de mon choix pour tous les cookies de ce domaine
	p Si vous voulez accepter ou rejeter tous les <strong>cookies</strong> du même domaine, sélectionnez "Se souvenir de mon choix pour tous les <strong>cookies</strong> de ce domaine". La prochaine fois qu'un cookie est proposé pour ce domaine, le dialogue de cookie ne va pas apparaître.
	h3 Détails des cookies
	h3 Les détails du cookie sont disponibles sous l'en-tête "Détails du cookie".
	h3 Ne plus me demander pour les cookies
	p Si vous préférez ne plus voir le dialogue de cookie, sélectionnez "Ne plus me demander pour les <strong>cookies</strong>". Cocher cette case revient à décocher la case marquée "Me demander avant d'accepter les cookies" dans les préférences de cookie.
	h3 Les préférences de cookies spécifiques à un site
	p Les préférences de <strong>cookies</strong> spécifiques à un site peuvent être définies en cliquant avec le bouton droit sur la page que vous visitez, sélectionnez "Editer les préférences du site" à partir du menu, et activez l'onglet cookie. Les options sont identiques à celles décrites précédemment pour les préférences de cookie générales.
	p <a href="http://help.opera.com/Windows/10.20/fr/cookies.html">Source : help.opera.com</a>
