extends ../templates/default
block titleBlock
	title Comment supprimer les cookies de Safari?
block descriptionBlock
	- var description = "Toutes les informations pour vider efficacement les cookies de votre navigateur Safari"
block videoBlock
	- var srcVideo = "//www.youtube.com/embed/-pJdN-z2Z2E"
block contentBlock
	h1 Comment supprimer les cookies sur Safari ?
	p Pour effacer vos données d’historique et vos cookies lorsque vous utilisez Safari sous iOS 8, touchez Réglages > Safari > Effacer historique et données de sites.
	p Sous iOS 7 ou version antérieure, choisissez Effacer l’historique, puis Effacer cookies et données. Pour effacer d’autres informations stockées, touchez Réglages > Safari > Avancé > Données de sites > Supprimer toutes les données de sites.
	p Source : support.apple.com