doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(http-equiv="content-type",content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1")
		block titleBlock
			title Supprimer les cookies
		block descriptionBlock
		meta(name="description",content="#{description}")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', rel='stylesheet', type='text/css')
		link(rel="stylesheet",href="/styles/style.css",type="text/css")
		link(rel="icon",type="image/png",href="/images/favicon.png")
		link(rel="alternate",hreflang="fr-FR",href="http://www.supprimer-cookies.fr")
		script(src="http://code.jquery.com/jquery-2.1.1.min.js")
		script(src="js/vider.js")
	body
		header.banner
			img(src="images/supprimer-cookies.png", alt="Supprimer ses cookies")
			.text
				h1 Supprimer-cookies.fr
				p cookie or not cookie...
		include pub1
		article
			block sectionBlock
			block contentBlock
			block videoBlock
			iframe(width="560", height="315", src="#{srcVideo}", frameborder="0", allowfullscreen="");
			nav
				a(href="http://www.supprimer-cookies.fr") Retour à la page principale
			</nav>
		.droite
			include nav
			include pub2
			include pub3
		include analytics
