nav
	ul.browsers
		li
			a(href="Chrome.html") <i class="browser-icon chrome"></i>Supprimer les cookies sur Chrome
		li
			a(href="Firefox.html") <i class="browser-icon firefox"></i>Supprimer les cookies sur Firefox
		li
			a(href="Internet-explorer.html") <i class="browser-icon internet-explorer"></i>Supprimer les cookies sur Internet explorer
		li
			a(href="Opera.html") <i class="browser-icon opera"></i>Supprimer les cookies sur Opéra
		li
			a(href="Safari.html") <i class="browser-icon safari"></i>Supprimer les cookies sur Safari