nav
	ul.browsers
		li
			a(href="Chrome.html", class= section === "Chrome" ? "active": false) <i class="browser-icon chrome"></i>Supprimer les cookies sur Chrome
		li
			a(href="Firefox.html", class= section === "Firefox" ? "active": false) <i class="browser-icon firefox"></i>Supprimer les cookies sur Firefox
		li
			a(href="Internet-explorer.html", class= section === "Internet-Explorer" ? "active": false) <i class="browser-icon internet-explorer"></i>Supprimer les cookies sur Internet explorer
		li
			a(href="Opera.html", class= section === "Opera" ? "active": false) <i class="browser-icon opera"></i>Supprimer les cookies sur Opéra
		li
			a(href="Safari.html", class= section === "Safari" ? "active": false) <i class="browser-icon safari"></i>Supprimer les cookies sur Safari