block pubBlock
div(class="#{pubClass}")
	script(async="", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	ins(class="adsbygoogle", style="#{pubStyle}", data-ad-client="ca-pub-6925762254152739", data-ad-slot="#{pubSlot}")
	script (adsbygoogle = window.adsbygoogle || []).push({});